:root {
    --bg: #ffffff;
    --txt: #0a0909;
    --gray: #555555;

    --vp-min: 780px;
    --vp-min1: calc(var(var(--vp-min)) + 1);
    --paragraph-w: 60%;
    --paragraph-detail-w: clamp(10.5rem, 16vw, 14rem);
    --border: 1px solid var(--txt);

    --global-margin: 2rem;
    --gap-img: 1rem;
    --spacing-inset: 1.5rem;
    --spacing-n0: 0.6rem;
    --spacing-n1: 2.5rem;
    --spacing-n2: 5rem;
    --spacing-relative-space: 0.75em;
}
@media (max-width: 780px) {
    :root {
        --global-margin: 1.25rem;
    }
    body {
        font-size: 8px;
    }
}
body {
    background-color: var(--bg);
    color: var(--txt);
    margin: var(--global-margin);
}
main {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 10rem;
}
main::after {
    content: "";
    position: absolute;
    bottom: var(--global-margin);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--txt);
}


/* RESETS */
* {
    min-width: 0px;
}

h1, h2, h3, h4, h5,
span, p, ul, li {
    margin: 0;
}


/* FONTS */
html {
    font-size: 16px;
}
body {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

p, span, ul {
    font-size: 1em;
    line-height: 1.2;
}
p {
    display: block;
}
p:not(:first-child) {
    margin-top: 0.5em;
}

h1, h2, h3, h4, h5 {
    margin-top: 0.75em;
    font-family: "Besley", serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1px;
    transform: scaleY(0.95);
}
h3, h4, h5 {
    font-style: italic;
}
h1 {
    font-size: 6em;
}
h2 {
    font-size: 4.5em;
}
h3 {
    font-size: 3em;
}

ul {
    padding: 0;
    margin-left: 1em;
}
ul > li {
    padding-left: 1em;
}
ul > li:not(:first-child) {
    margin-top: calc(var(--spacing-relative-space) / 2);
}

b,
.paragraph-detail > :first-child,
.inline-data > div > :first-child {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.desc {
    font-style: italic;
}


/* NAV */
nav {
    z-index: 999;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 var(--global-margin);
    left: 0;
    top: 0;
    --size: 3rem;
    height: var(--size);
    background-color: var(--bg);

    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
}

nav .arrow-back svg {
    display: none;
    width: var(--size);
    height: var(--size);
    background-color: var(--txt);
    cursor: pointer;
}

nav .nb-gen {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-variant-numeric: tabular-nums;
}
nav .nb-page {
    letter-spacing: 1.4px;
    color: var(--gray);
    flex-shrink: 0;
}
nav .title {
    letter-spacing: 1.2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1.75em;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 calc(var(--global-margin) / 1.5);
    width: calc(100% - (var(--global-margin) * 1.333));
    height: 1px;
    background-color: var(--txt);
}


/* ELEMENTS */
.box {
    border: var(--border);
    padding: var(--spacing-inset);
    margin: var(--spacing-n1) 0;
}
.box > *:not(:first-child) {
    margin-top: var(--spacing-n0) !important;
}
.desc:not(:last-child) {
    margin-bottom: calc(var(--spacing-n0) * 1.5);
}

img {
    width: 100%;
    max-width: clamp(900px, 100%, 70vw);
    height: auto;
    max-height: 60vh;
    object-fit: contain;
    object-position: left;
}

*:not([class*="paragraph-"]) > .paragraph:not(:nth-child(1)) {
    margin-top: var(--spacing-n1);
}
.paragraph {
    --w: 100%;
    max-width: var(--w);
    width: var(--w);
}

.paragraph-detail {
    display: flex;
    flex-direction: row;
    font-size: 1em;
}
.paragraph-detail > :first-child {
    width: var(--paragraph-detail-w);
    flex-shrink: 0;
    word-wrap: normal;
}
@media (max-width: 780px) {
    .paragraph-detail {
        flex-direction: column;
    }
    .paragraph-detail > :first-child {
        margin-bottom: 0.25em;
    }
}
@media (min-width: 781px) {
    .paragraph {
        --w: calc(var(--paragraph-w) + var(--paragraph-detail-w));
    }
    .paragraph-detail > :last-child {
        --w: var(--paragraph-w);
    }
}

.inline-data,
.inline-data div {
    display: flex;
    flex-direction: row;
}
.inline-data,
.inline-data div > div {
    flex-wrap: wrap;
}
.inline-data > div > :first-child {
    flex-shrink: 0;
}

.inline-data div:not(:last-child) {
    margin-right: var(--spacing-n1);
}
.inline-data div span:not(:last-child) {
    margin-right: var(--spacing-relative-space);
}
.inline-data div > div > span:nth-child(n + 2)::before {
    content: "·";
    position: relative;
    display: inline;
    margin-right: var(--spacing-relative-space);
}

@media (max-width: 780px) {
    .inline-data {
        flex-direction: column;
    }
}


.img-versus {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap-img);
}
.img-versus > img {
    flex: 1;
}
.img-mini {
    width: calc(50% - (var(--gap-img) / 2));
}
.img-full {
    width: 100%;
}

*[class*="img-"] {
    margin: var(--gap-img) 0;
}
